
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        .navbar {
            overflow: hidden;
            background-color: black;
            font-family: Arial, Helvetica, sans-serif;
            background-size: unset;
        }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .dropdown {
            float: left;
            overflow: hidden;
            position: relative;
            display: inline-block;
        }

            .dropdown .dropbtn {
                cursor: pointer;
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
                position: relative;
                display: inline-block;
            }

            .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
                background-color: lightblue;
            }

        .dropdown-content {
            display: none;
            position: relative;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: initial;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: grid;
                text-align: center;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .show {
            display: contents;
        }
    </style>
</head>

<body>
    <div>

        <img src="https://4.bp.blogspot.com/-FxPmnZ9iVvU/TuX8FD4I50I/AAAAAAAADsA/RVB9l4Egr0A/s1600/big%2Bbazaar%2Blogo.jpg"
             alt="HTML5 Icon" style="width:15%;height:80px; margin-left:20px;" class="img">
    </div>


    <div class="navbar">
        <a href="~/UserMvc/UserHome" style="margin-left:20px">Home</a>
        <a href="~/UserMvc/DisplayProducts" style="margin-left:20px">Products For Sale</a>
        <a href="~/UserMvc/ViewCart" style="margin-left:20px">Cart</a>

    </div>

    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




    <script>

        function myFunction1() {
            document.getElementById("myDropdown1").classList.toggle("show");

        }
        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show");

        }
        function myFunction3() {
            document.getElementById("myDropdown3").classList.toggle("show");
        }


        window.onclick = function (e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }
    </script>
</body>
</html>